*{
  font-family: sans-serif;
  margin: 0;
}

.container{
  width:908px;
  max-width: 90vw;
  margin: auto;
  text-align: center;
  padding-top: 10px;
}
i{
  width: 30px;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}