*
{
  margin:0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body{
  background: #eeeded;
  min-height: 200vh;
  margin: 0;
}
  #Shopping-page{
   background-color: #eeeded;
   
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    background: transparent;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0, 0.5);
   background-color: #000000;
    z-index: 999;
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}

.navbar-logo{
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.navbar-container .navbar-menu{
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style: none;
}

.navbar-container .navbar-menu li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 10px;
    transition: all 0.7 ease;
    white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover{
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    border: 1px solid #fff;
    
}

.navbar-toggle{
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: #fff;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 880px) {
    .navbar {
        backdrop-filter: none;
    }
    .navbar-container .navbar-menu{
        display:none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        background-color: #131313; 

  }

.navbar-container .navbar-menu.active{
    display: flex;
}




  .navbar-toggle{
    display: block;
    z-index: 999;
  }
.navbar-toggle.active .bar:nth-child(2){
opacity: 0;
}

.navbar-toggle.active .bar:nth-child(1){
transform: translateY(8px) rotate(45deg);


}

.navbar-toggle.active .bar:nth-child(3){
transform: translateY(-8px) rotate(-45deg);


}
}

@media (max-width: 480px) {
    .navbar-container{
        padding: 0 1rem;
    }

    .navrbar-logo{
        font-size: 1.7rem;
    }
.navbar-container .navbar-menu li a{
    font-size:1.2rem;
    padding: 3px 15px;
}

}

































.trending-pruduct{
  margin-top:40px;
}

.center-text h2{
  color:#111;
  Font-size:28px;
  text-transform: capitalize;
  text-align: center;
margin-bottom: 30px;
margin-top: 50px;
}

.center-text Span{
  color:red;
}

.products{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  gap: 2rem;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

.row{
  position:relative;
  transition: all ,10s;
}

.row img{
  width: 100%;
  Height: auto;
  transition: all .40s;
}

.row img:hover{
  transform: scale(0.9);
}

.product-text h5{
  position: absolute;
  top: 13px;
  left: 13px;
  color:#fff;
  font-size: 12px;
  font-weight: 500;
  text-transform:uppercase;
   background-color: rgb(255, 17, 0);
   padding: 3px 10px;
   border-radius: 2px;

}

.heart-icon{
  position: absolute;
  right: 0;
  font-size: 20px;
  color:grey;
}

.heart-icon:hover{
color:red;
}
.rating{
  color:#ff8c00;
  font-size: 18px; 
}

.price h4{
  color:#111;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
}

.price p{
  color: #151515;
  font-size:14px;
  font-weight: 600;
}

button {
    border-radius: 10%;
    background-color: rgb(233, 98, 58);
    color: rgb(255, 255, 255);
    border:none;
  height: 30px;
cursor: pointer;

}

button:hover{
background-color:rgb(185, 45, 45);
color:rgb(255, 255, 255);
}


.popup {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.5); 
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  max-width: 500px; 
  text-align: center;
}


/* contact-section */

.contact{
  background-color:#dbdbdd;
  height: 390px;

}
.contact-info{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, auto));
  gap: 3rem;
  position:relative;
  bottom:-50px;
}

.first-info img{
  position:relative;
  right: -15px;
  width: 250px;
  margin-top: 25px;
  width: 200px;
}
.first-info {
position: relative;
top:-50px;
left: 5px;
}

.first-info p{
text-align:center;
}

.contact-info h4{
  color: #212529;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.contact-info p{
  color: #565656;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all .42s;
}

.contact-info p:hover{
  color:red;
}

nav{
  background: #222222;
}



