*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
font-family: sans-serif
}

.body{
    background-color:#eeeded;

}


.navbar{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: black;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0, 0.5);
    z-index: 999;
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}

.navbar-logo{
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.navbar-container .navbar-menu{
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style: none;
    background-color: #000000;
}

.navbar-container .navbar-menu li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 10px;
    transition: all 0.7 ease;
    white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover{
    color: white;
    background: rgb(0,0,0);
    border: 1px solid #fff;
}

.navbar-toggle{
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: #fff;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 880px) {
    .navbar {
        background-color: black;
    }
    .navbar-container .navbar-menu{
        display:none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
       
  }

.navbar-container .navbar-menu.active{
    display: flex;
}




  .navbar-toggle{
    display: block;
    z-index: 999;
  }
.navbar-toggle.active .bar:nth-child(2){
opacity: 0;
}

.navbar-toggle.active .bar:nth-child(1){
transform: translateY(8px) rotate(45deg);


}

.navbar-toggle.active .bar:nth-child(3){
transform: translateY(-8px) rotate(-45deg);


}
}

@media (max-width: 480px) {
    .navbar-container{
        padding: 0 1rem;
    }

    .navrbar-logo{
        font-size: 1.7rem;
    }
.navbar-container .navbar-menu li a{
    font-size:1.2rem;
    padding: 3px
}

}

/* update-section-css */
.up-center-text h2{
    text-align: center;
    color: #111;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 30px;
    
    
}

.cart img{
    width: 380px;
    height: auto;
    border-radius: 5px;
    transition: all .40s;
}

.update-cart{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(380px, auto));
   gap: 1rem; 
   margin-left: 115px;
   margin-bottom: 100px;


}

.cart h5{
    color: #636872;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    
} 

.cart h4{
    color: #111;
    font-size: 18px;
    font-weight: 600;
   
}

.cart p{
    color: #707070;
    font-size: 15px;
    max-width: 380px;
    line-height: 25px;
   margin-bottom: 12px;

}

.cart h6{
    color: #151515;
    font-size: 14px;
    font-weight:500;
}
 
.cart img:hover{
  transform: scale(0.9);
}

.contact{
  background-color:#dbdbdd;
  height: 390px;

}
.contact-info{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, auto));
  gap: 3rem;
  position:relative;
  bottom:-50px;
}

.first-info img{
  position:relative;
  right: -15px;
  width: 250px;
  margin-top: 25px;
  width: 200px;
}
.first-info {
position: relative;
top:-50px;
left: 5px;
}

.first-info p{
text-align:center;
}

.contact-info h4{
  color: #212529;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.contact-info p{
  color: #565656;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all .42s;
}

.contact-info p:hover{
  color:red;
}

nav{
  background: #222222;
}

